﻿<div class="panel panel-default">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> @L("Movie") </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>@L("Name")</label>
                        <input auto-focus class="form-control" type="text" name="MovieName" ng-model="vm.movie.name" />
                    </div>
                    <div class="form-group">
                        <label>@L("Duration")</label>
                        <input auto-focus class="form-control" type="text" name="MovieDuration" ng-model="vm.movie.duration" />
                    </div>
                    <div class="form-group">
                        <label>@L("Calification")</label>
                        <input auto-focus class="form-control" type="datetime" name="MovieCalification" ng-model="vm.movie.calification" />
                    </div>
                    <div class="form-group">
                        <label>@L("Director")</label>
                        <select class="form-control" ng-model="vm.movie.directorId">
                            <option ng-repeat="director in vm.directors" value="{{director.id}}">{{director.name}} {{director.last_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.save(vm)" ng-show="vm.showSubmit"><i class="fa fa-save"></i><span>@L("Save")</span></button>
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.edit(vm)" ng-show="vm.showEdit"><i class="fa fa-save"></i><span>@L("Edit")</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading" style="position: relative;">
        <div class="row">
            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                Lista de peliculas 
            </h3>
        </div>
    </div>
    <div class="row">
       <div class="col-md-12">
           <button ng-click="vm.openModalforNew()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>New Movie</button>
           <table class="table">
               <thead>
                   <tr>
                       <th>Name</th>
                       <th>Duration</th>
                       <th>Calification</th>
                       <th>Director</th>
                       <th>Action</th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="movie in vm.movies">
                       <td>{{movie.name}}</td>
                       <td>{{movie.duration}}</td>
                       <td>{{movie.calification}}</td>
                       <td>{{movie.directorName}}</td>
                       <td>
                           <button ng-click="vm.openModalforUpdate(movie)" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                           <button ng-click="vm.delete(movie.id)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                       </td> 
                   </tr>
               </tbody>
           </table>
       </div>
    </div>
</div>