﻿
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> @L("Director") </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>@L("Name")</label>
                        <input auto-focus class="form-control"  type="text" name="DirectorName" ng-model="vm.director.name"/>
                    </div>
                    <div class="form-group">
                        <label>@L("LastName")</label>
                        <input auto-focus class="form-control" type="text" name="DirectorLastName" ng-model="vm.director.last_name"/>
                    </div>
                    <div class="form-group">
                        <label>@L("BirthDate")</label>
                        <input auto-focus class="form-control" type="datetime" name="DirectorBirthDate" ng-model="vm.director.birthdate"/>
                    </div>
                    <div class="form-group">
                        <label>@L("Sex")</label>
                        <select name="DirectorSex" ng-model="vm.director.sex">
                            <option value="M"> @L("Male")</option>
                            <option value="F"> @L("Female")</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.save(vm)" ng-show="vm.showSubmit" ng-disabled="directorCreateForm.$invalid"><i class="fa fa-save"></i><span>@L("Save")</span></button>
                    <button type="submit" class="btn btn-primary blue" ng-click="vm.edit(vm)" ng-show="vm.showEdit" ng-disabled="tenantCreateForm.$invalid"><i class="fa fa-save"></i><span>@L("Edit")</span></button>
                </div>
            </div>
        </div>
    </div>
<div class="panel panel-default">
    <div class="panel-heading" style="position: relative;">
        <div class="row">
            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("DirectorsList")
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button ng-click="vm.openModalforNew()" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Director</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Birth Date</th>
                        <th>Sex</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="director in vm.directors">
                        <td>{{director.name}}</td>
                        <td>{{director.last_name}}</td>
                        <td>{{director.birthdate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{director.sex}}</td>
                        <td>
                            <button ng-click="vm.openModalforUpdate(director)" class="btn btn-primary btn-xs" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button ng-click="vm.delete(director.id)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="position: relative;">
        <div class="row">
            <!-- Title -->
            <h3 class="panel-title col-xs-6">
                @L("DirectorsDetails")
            </h3>
            
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="form-group">
                <label>@L("Director")</label>
                <select name="DirectorId" ng-model="vm.director">
                    <option id="directorId" ng-repeat="director in vm.directors" value="{{director.id}}">{{director.name}} {{director.last_name}}</option>
                </select>
                <button ng-click="vm.showDetails(vm)" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Show details </button>
            </div>
            <hr />
            <div ng-show="vm.isVisible">
                <h3>{{vm.details.director.name}} {{vm.details.director.last_name}}</h3>
                <h3>Valoration: {{vm.details.aveCal | number : fractionSize}}/100</h3>
                <h3>Best movie: {{vm.details.maxCal.name}} with: {{vm.details.maxCal.calification}}/100 </h3>
                <h3>Worst movie: {{vm.details.minCal.name}} with: {{vm.details.minCal.calification}}/100</h3>
            </div>
            
        </div>
    </div>
</div>